@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.woff2') format('woff2'),
        url('../fonts/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'gagalin';
    color: white;
    letter-spacing: 0.2vh;
}
body{
    background-color: black;
    overflow: auto; 
    height: max-content;
}
.contenedor{
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    
    grid-area: CON;
    display: grid;
    grid-template: 
    "MENU MENU MENU"max-content
    ". CON2 ." max-content/
    auto 85% auto;
} 
.titulo{
    grid-area: MENU;
    padding-bottom: 5vh;
    font-size: 8vh;
    text-align: center;
}
.titulo2{
    font-size: 8vh;
    text-align: center;
}
.titulo2 span {
    display: inline-block; 
    animation: letras infinite 2s both;
}
.txt span {
    display: inline-block; 
    animation: letras infinite 2s both;
}
.titulo span {
    
    display: inline-block; 
    animation: letras infinite 2s both;
}
.textura{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 30%;
    /* filter: blur(1px); */
    pointer-events: none;
    z-index: 2500;
    background-image: url(../SVG/textura.svg);
   
}
.titulo span:nth-child(1) {
    
    animation-delay: 0s;
}
.titulo span:nth-child(2) {
    animation-delay: 0.2s;
}
.titulo span:nth-child(3) {
    animation-delay: 0.4s;
}
.titulo span:nth-child(4) {
    animation-delay: 0.8s;
}
.titulo2 span:nth-child(4n+1) {
    animation-delay: 0s;
}
.titulo2 span:nth-child(4n+2) {
    animation-delay: 0.2s;
}
.titulo2 span:nth-child(4n+3) {
    animation-delay: 0.4s;
}
.titulo2 span:nth-child(4n+4) {
    animation-delay: 0.8s;
}
.txt span:nth-child(4n+1) {
    animation-delay: 0s;
}
.txt span:nth-child(4n+2) {
    animation-delay: 0.2s;
}
.txt span:nth-child(4n+3) {
    animation-delay: 0.4s;
}
.txt span:nth-child(4n+4) {
    animation-delay: 0.8s;
}
.header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 100;
    top: 0;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    grid-area: HEA;
    position: sticky;
    display: grid;
    grid-template: 
    "LOG . CON IG"auto/
    8vh auto 6vh 6vh;
}
.logo{


    background-size: 7vh;
    background-position: center;
    background-image: url(../SVG/logo.svg);
    background-repeat: no-repeat;
    grid-area: LOG;
}

.contacto{


    grid-area: CON;
    background-size: 5vh;
    background-position: center;
    background-image: url(../SVG/contacto.svg);
    background-repeat: no-repeat;
}
.instagram{


    grid-area: IG;
    background-size: 5vh;
    background-position: center;
    background-image: url(../SVG/instagram.svg);
    background-repeat: no-repeat;
}
.instagram:hover{
    transform: scale(1.1);
}
.contacto:hover{
    transform: scale(1.1);
}
footer{
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    font-size: 3vh;
    
   
}
.contenido{
    gap: 7vh;
    position: relative;
    grid-area: CON2;
    font-size: 4vh;
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
}
.comida{
    z-index: 10;
    width: 100%;
    gap: 2vh;
    display: grid;
    grid-template: 
    "BAR BAR BAR"3.5vh
    ". OP ." max-content/
    auto 90% auto;
    align-items: center;
}
.barra{
    z-index: 10;

    border-bottom: white 0.3vh dashed;
    grid-area: BAR;
    display: grid;
    grid-template: 
    "NOM . PRE"auto/
    auto auto auto;
}

.nombre{
    z-index: 10;
   
    overflow: hidden;
    white-space: nowrap;       
    text-overflow: ellipsis; 
    font-size: 4vh;
    grid-area: NOM;

}
.precio{
    z-index: 10;
  
    text-align: end;
    font-size: 4vh;
    grid-area: PRE;
}


@keyframes fondo {
    0%{
        background-position-y: 0%;
    }
   
    50%{
        background-position-y: 100%;

    }
    100%{
        background-position-y: 0%;
    }
}
.opciones{
    grid-area: OP;
    
}
.opcion{
    font-size: 3vh;

}
.fondo{
    /* animation: fondo 60s infinite both; */
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -2;
}
.fondo2{
    background-position: center;
    background-size: 2vh;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -2;
    display: grid;
}
.categoria{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10vh;
    gap: 10vh;
    position: relative;
    font-size: 4vh;
    overflow-y:auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;

}
.capa{
    display: grid;
    grid-template: 
    "HEA HEA HEA"10vh
    "CON CON CON"max-content/
    auto auto auto;
    height: max-content;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
}
.capa2{
    animation: desaparecer 0.5s both ;
    animation-delay: 1s;
    z-index: 1000;
    display: grid;
    gap: 1vh;
    grid-template: 
    ". . ."auto
    ". LOG ."15vh
    ". TXT ."10vh
    ". . ."auto/
    auto auto auto;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
}
.logo2{
    animation: logo 2s both ;

    grid-area: LOG;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../SVG/logo.svg);
}
.txt{
    grid-area: TXT;
    font-size: 4vh;
    text-align: center;

}
@keyframes letras {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes logo {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform:  scaleY(1.05);
    }
    100%{
        transform:  scaleY(1);
    }
}
@keyframes desaparecer {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}